<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="styl.css">
    <link rel="stylesheet" href="confirmdelet.css">
    <link rel="stylesheet" href="card.css">
    <style>
        .box{display :none;}
        .One{display :block;}
    </style>
</head>
<body>
<p style="font-size: 40px;">Creativity Phase Con't</p>

<div class="grid-container" style="height: 100vh;overflow: hidden;margin: 20px;">
    <div class="grid-child purple" style="float: right;height: 70vh;">
        <select id="Querys" onclick="changeStatus()" class="multi-select" style="margin-top: 20px;height:100%" multiple>

            <option value="none" disabled style="font-size:30px;color: black;"><h3 >Surrounding Environment </h3></option>
            <option value="One" >Nature of Crossing</option>
            <option value="Two" >Surrounding area nature</option>
            <option value="Three">Accessibility to site</option>
            <option value="Four">Diversion cost of Existing utilities</option>
            <option value="Five">Soil condition</option>
            <option value="Sex" >Volume of traffic during construction</option>
            <option value="Seven" >Climate during construction</option>
            <option value="Eight">Land topography</option>

            <option value="none" disabled style="font-size:30px;color: black"><h3 >Bridge Physical Characteristics </h3></option>
            <option value="Nine">No. of Bridge span</option>
            <option value="Ten" >Bridge height above ground</option>
            <option value="Eleven">Breadth of deck</option>
            <option value="Twelve">Horizontal alignment</option>
            <option value="Thirteen">Bridge span length</option>

            <option value="none" disabled style="font-size:30px;color: black"> <h3>Construction method characteristics</h3></option>
            <option value="Fourteen">Availability of skilled manpower</option>
            <option value="Fifteen" >Availability of material</option>
            <option value="Sixteen">Aesthetics of bridge</option>
            <option value="Seventeen">Effect of construction on design</option>
            <option value="Eighteen">Cranes capacity and maneuvering</option>
            <option value="Nineteen">Safety requirement during construction</option>
            <option value="Twenty" >Cost of defected quality during construction</option>
            <option value="Twentyone">Availability of Equipment</option>

            <option value="none" disabled style="font-size:30px;color: black"><h3 >Managerial aspects</h3></option>
            <option value="Twentytwo">Life cycle cost</option>
            <option value="Twentythree" >Speed of construction</option>
            <option value="Twentyfour">Budget cost</option>
            <option value="Twentyfive">Payment scheme method</option>

            <option value="none" disabled style="font-size:30px;color: black"><h3>Stakeholder objectives</h3></option>
            <option value="Twentysex">service life (Durability)</option>
            <option value="Twentyseven" >Ease of maintenance</option>
            <option value="Twentyeight">future extension</option>
            <option value="Twentynine">cost of maintenance</option>

            <option value="none" disabled style="font-size:30px;color: black"><h3 >External constraints:</h3></option>
            <option value="Thirty">Contractor experience and capabilities</option>
            <option value="Thirtyone" >Latest technology for world’s vision</option>
            <option value="Thirtytwo">Logistics</option>
            <option value="Thirtythree">BTO difficulty</option>
            <option value="Thirtyfour">Degree of communication between different parties during construction</option>
            <option value="Thirtyfive">Degree of risk during construction</option>
        </select>
    </div>

    <!------------------------------------------->
    <div class="grid-child green" style="height: 50%;margin-right: 20px;text-align: left;">

        <div class="box One container2 card2" style="float: right;text-align:justify" id="One"><h4>bridges span barriers such as railway, highway, waterway, utilities, valleys, etc </h4></div>
        <div class="box Two container2 card2" style="float: right;text-align:justify" id="Two"><h4>The nature of the surrounding environment may be touristic, urban, deserts, or agricultural, etc.</h4></div>
        <div class="box Three container2 card2" style="float: right;text-align:justify" id="Three"><h4>determines whether or not the site have easy access or not for accessing the material, equipment, etc.</h4></div>
        <div class="box Four container2 card2" style="float: right;text-align:justify" id="Four"><h4>the existing utilities occurred at the site work can avoid it by changing substructure or mitigate this risk by using long spans.</h4></div>
        <div class="box Five container2 card2" style="float: right;text-align:justify" id="Five"><h4>Strong soil conditions may be necessary for various construction techniques, such as Stationary Formwork, as well as other circumstances requiring intermediary support.</h4></div>
        <div class="box Three container2 card2" style="float: right;text-align:justify" id="Sex"><h4>is the traffic close to the project is heavy or moderate.</h4></div>

        <div class="box Four container2 card2" style="float: right;text-align:justify" id="Seven"><h4>The weather has a direct impact on the performance of employees working on the site.</h4></div>
        <div class="box Five container2 card2" style="float: right;text-align:justify" id="Eight"><h4>some construction methods, such as stationary formwork, should be used in case of small variations in land topography only.</h4></div>
        <div class="box Nine container2 card2" style="float: right;text-align:justify" id="Nine"><h4>is the number of bridge spans that can impact the construction system including the heavy equipment, materials and so on.</h4></div>
        <div class="box Ten container2 card2" style="float: right;text-align:justify" id="Ten"><h4>The height above the ground should be taken into account, especially considering solutions that entail the use of formwork.</h4></div>
        <div class="box Eleven container2 card2" style="float: right;text-align:justify" id="Eleven"><h4>is the width of the deck impact the choice of construction system or not.</h4></div>

        <div class="box Twelve container2 card2" style="float: right;text-align:justify" id="Twelve"><h4>This is the horizontal deck curvature (the radius of curvature When considering techniques such as Launching girder span by span, and Incremental Launching, special aspects should be considered.</h4></div>
        <div class="box Thirteen container2 card2" style="float: right;text-align:justify" id="Thirteen"><h4>This is the distance between two consecutive pier center lines. Each construction system has a span limitation.</h4></div>
        <div class="box Fourteen container2 card2" style="float: right;text-align:justify" id="Fourteen"><h4>some construction systems need especial and skilled manpower  </h4></div>
        <div class="box Fifteen container2 card2" style="float: right;text-align:justify" id="Fifteen"><h4>some construction systems need especial material, as these systems have advanced technology usage.</h4></div>
        <div class="box Sixteen container2 card2" style="float: right;text-align:justify" id="Sixteen"><h4> Bridge design is regarded as a form of artistic inventiveness. This is the shape of the bridge; for example, a smooth curved bridge with varied height will look better than one with a fixed bulky height.</h4></div>
        <div class="box Seventeen container2 card2" style="float: right;text-align:justify" id="Seventeen"><h4>The selection of specific construction system technologies may result in additional stresses on design.</h4></div>

        <div class="box Eighteen container2 card2" style="float: right;text-align:justify" id="Eighteen"><h4>This shows the availability of a maneuvering place for cranes (used in erecting or even operating).</h4></div>
        <div class="box Nineteen container2 card2" style="float: right;text-align:justify" id="Nineteen"><h4>safety for both site workers. Special precautions should be taken to ensure the safety of construction workers, particularly when they are unfamiliar with new technologies.</h4></div>
        <div class="box Twenty container2 card2" style="float: right;text-align:justify" id="Twenty"><h4>This is the expense of fixing any defects or issues that occur during construction. This could have a significant impact on costs, particularly in techniques depend on pre-cast workshop.</h4></div>
        <div class="box Twentyone container2 card2" style="float: right;text-align:justify" id="Twentyone"><h4>some construction systems need especial equipment to be found.</h4></div>

        <div class="box Twentytwo container2 card2" style="float: right;text-align:justify" id="Twentytwo"><h4>It covers system operation costs, material expenses, overhead costs, and maintenance costs (budget cost and maintenance cost).</h4></div>
        <div class="box Twentythree container2 card2" style="float: right;text-align:justify" id="Twentythree"><h4>Duration needed to finish the deck of the bridge using a certain construction system.</h4></div>
        <div class="box Twentyfour container2 card2" style="float: right;text-align:justify" id="Twentyfour"><h4>It covers system operation costs, material expenses, overhead costs.</h4></div>
        <div class="box Twentyfive container2 card2" style="float: right;text-align:justify" id="Twentyfive"><h4>the method of payment according to the contract clauses.</h4></div>

        <div class="box Twentysex container2 card2" style="float: right;text-align:justify" id="Twentysex"><h4>the pre-cast concrete could be more durable than the cast-in situ.</h4></div>
        <div class="box Twentyseven container2 card2" style="float: right;text-align:justify" id="Twentyseven"><h4>the easy maintenance depends on the construction system where some constructions systems need specific maintenance and the other need usual maintenance </h4></div>
        <div class="box Twentyeight container2 card2" style="float: right;text-align:justify" id="Twentyeight"><h4>is the future extension can have applied for all the construction systems or not.</h4></div>
        <div class="box Twentynine container2 card2" style="float: right;text-align:justify" id="Twentynine"><h4>the maintenance cost differs according to the construction system. </h4></div>

        <div class="box Thirty container2 card2" style="float: right;text-align:justify" id="Thirty"><h4>Contractor experience in a construction system would result in a cost and time savings, and also a required quality based on specifications. This would also ensure the health and safety of workers working on the site, as they would be highly trained and more familiar with the construction process.</h4></div>
        <div class="box Thirtyone container2 card2" style="float: right;text-align:justify" id="Thirtyone"><h4>is to update the work within the technological development in the construction industry and to use the new systems and construction methods, where this performance will put us as a country in a good and elegant situation towards the world.</h4></div>
        <div class="box Thirtytwo container2 card2" style="float: right;text-align:justify" id="Thirtytwo"><h4>precast handling or cast in situ concrete will impact the logistics.</h4></div>
        <div class="box Thirtythree container2 card2" style="float: right;text-align:justify" id="Thirtythree"><h4>is the difficulty of handing over will difference upon the construction sequence.</h4></div>
        <div class="box Thirtyfour container2 card2" style="float: right;text-align:justify" id="Thirtyfour"><h4> the degree or the difficulty of communication between different parties depend on the type of the construction system through all the phases planning, design, construction, etc. if the construction system is simple, the communication will be easy and smooth, and if the construction system is complicated or have many details and depend on subcontractors and third parties , the communication  will not be easy and smooth such as the simple system.</h4></div>
        <div class="box Thirtyfive container2 card2" style="float: right;text-align:justify" id="Thirtyfive"><h4>: however, the construction system is not easy, the risk during construction and overall will not be low and need a good risk management plan.</h4></div>

    </div>

    <!----------------------->

    <div class="grid-child purple" style="width: fit-content" th:each="c : ${area}">
        <a th:id="${c.projectid}" onclick="back(this.id)" class="button button2" style="float: left;display:block;margin-top: 20px;">back</a>
    </div>
    <div  class="grid-child green" th:each="c : ${area}">
        <a class="button button1" style="float: left;display:block;">Add New Criteria</a>

        <a th:id="${c.id}" onclick="openCriteria(this.id)" class="button button1" style="float: right;display:block;" >next</a>
    </div>
</div>



<script>
    var openCriteria=function(id){
        location.replace("http://localhost:8080/result2?id="+id)
    }
    var back=function(id){
        location.replace("http://localhost:8080/analyses?id="+id)
    }
    function changeStatus(){
        var status =document.getElementById("Querys");

        const x =document.getElementsByClassName("box");

        Array.prototype.forEach.call(x, child => {
            child.style.display="none"
        });

        try{
            document.getElementById(status.value).style.display ="block";
        }catch(ex){
            console.log("no value selected");
        }
    }

</script>


</body>
</html>





