<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final Result</title>
    <link rel="stylesheet" href="STYLE.css">
    <link rel="stylesheet" href="confirmdelete.css">
    <link rel="stylesheet" href="card.css">
    <style>
        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<p style="font-size: 40px;">analytical Phase</p>
<h1 id="message"></h1>
<br><br><br><br><br>
<div class="grid-container" style="width: 100%">

    <div  class="grid-child green">
        <a th:id="${Id}" onclick="back(this.id)" class="button button2" style="float:left;">Back</a>

    </div>
    <div  class="grid-child purple">
        <a th:id="${Id}" onclick="set_weights(this.id)" class="button button2" style="float:right;display: block;width:fit-content;">Next</a>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var bestmodel = /*[[${bestmodel}]]*/ 'default';
    console.log(bestmodel);
    /*]]>*/
    /*<![CDATA[*/
    var Score = /*[[${Score}]]*/ 'default';
    console.log(Score);
    /*]]>*/
        document.getElementById('message').innerHTML="the best model is : "+bestmodel;
        var back=function(id){
            location.replace("http://localhost:8080/result?id="+id)
        }
        var set_weights=function(id){
            location.replace("http://localhost:8080/thank_you?bestmodel="+bestmodel+"&score="+id)
        }
</script>
</body>
</html>