<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page 1</title>
    <link rel="stylesheet" href="styl.css">
    <link rel="stylesheet" href="confirmdelet.css">
    <link rel="stylesheet" href="card.css">
<style>
    .logo p {
        /* other styles goes here... */
        display: inline-block;
        vertical-align: top;
    }
    .card2 {
        /* other styles goes here... */
        display: inline-block;
        vertical-align: top;
    }
</style>
</head>
<body>

<p style="font-size: 40px;display: inline">Introduction Model</p>
<div style="margin: 20px;">
<button class="button button1" onclick="document.getElementById('id02').style.display='block';" style="float: right;display: inline">New Project</button>

<hr style="width:100%;text-align:left;margin-left:1%;margin-right: 20%;margin-top: 1.5%;margin-bottom: 2%;"/>


<div th:each="c : ${Project}" class="loader" style="width:98%;">
    <form method="#" class="card2"  style="width: 36%;">
        <div  class="container2" style="align-content: center">
            <!--<h3 ><p th:text="${c.id}">id</p></h3>-->

            <p th:text="${c.name}">Name</p>
            <h3 class="logo"><p th:text="${c.Country}">contry</p><p>-</p> <p th:text="${c.city}"> city </p><p>-</p>  <p th:text="${c.street}"> street  </p></h3>
            <!--<h4><p style="color: #008CBA;" th:text="${c.description}">   </p></h4>-->

            <a th:id="${c.id}" onclick="doWithThisElement(this.id)" class="button button1" >Open Project</a>
        </div>
    </form>
</div>

<script>

    ID=null;
    var doWithThisElement=function(id){
        ID=id;
        location.replace("http://localhost:8080/project_findById?id="+id)
    }

</script>
<!------------------------------------------------------------------------------------->
<!----------------------------------Add--------------------------------------------------->
<div id="id02" class="modal">
    <form class="modal-content" action="#">
        <div class="container">
            <p style="font-size: 35px">Information Phase</p>

            <div >
                <table style="width:100%">
                    <tr>
                        <td style="width:60%;"><label style="font-size: 40px;color: black;display: inline;height:62px;width: 90%; float: right;text-align: right;">Project Id</label></td>
                        <td><input style="display: inline;font-size: 40px;" type="text" name="id_dummy" class="custom-select"/></td>
                    </tr>
                    <tr>
                        <td><label style="color: black;display: inline;font-size: 40px;height:62px;width: 90%; float: right;text-align: right;">Project Name</label></td>
                        <td><input style="display: inline;font-size: 40px;" type="text" name="name" class="custom-select"/></td>
                    </tr>
                    <tr>
                        <td><label style="color: black;font-size: 40px;display: inline;height:62px;width: 90%; float: right;text-align: right;">Project Owner</label></td>
                        <td><input style="display: inline;font-size: 40px;" type="text" name="owner" class="custom-select"/></td>
                    </tr>
                    <tr>
                        <td><label style="color: black;font-size: 40px;display: inline;height:62px;width: 90%; float: right;text-align: right;">Country</label></td>
                        <td><input style="display: inline;font-size: 40px;" type="text" name="Country" class="custom-select"/></td>
                    </tr>
                    <tr>
                        <td><label style="color: black;font-size: 40px;display: inline;height:62px;width: 90%; float: right;text-align: right;">City</label></td>
                        <td><input style="display: inline;font-size: 40px;" type="text" name="city" class="custom-select"/></td>
                    </tr>
                    <tr>
                        <td><label style="color: black;font-size: 40px;display: inline;height:62px;width: 90%; float: right;text-align: right;">Project Address</label></td>
                        <td><input style="display: inline;font-size: 40px;" type="text" name="street" class="custom-select"/></td>
                    </tr>
                    <tr>
                        <td><label style="color: black;font-size: 40px;display: inline;height:62px;width: 90%; float: right;text-align: right;">Date</label></td>
                        <td><input style="display: inline;font-size: 40px;" type="text" name="date" class="custom-select" placeholder="dd-mm-yyyy"/></td>
                    </tr>
                    <tr>
                        <td><label style="height: 150px;font-size: 40px;color: black;display: inline;width: 90%; float: right;text-align: right;">Project Description</label></td>
                        <td><textarea rows="4" style="font-size: 40px;display: inline;height: 150px" type="text" id="description" name="description" class="custom-select"></textarea></td>
                    </tr>
                </table>
            </div>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="button button2">Cancel</button>
                <input type="submit" formaction="/project/addNew" onclick="document.getElementById('id02').style.display='none'" class="button button1" value="Add"/>
            </div>
        </div>
    </form>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<!------------------------------------------------------------------------------------->
</div>
</body>
</html>